@model kitapderyasiFinal.Models.Cart

<li> <a class="totalInCart" href="/Cart/Index">
    <strong>Toplam Tutar: <span class="badge badge-warning pull-right" style="line-height:18px;background-color:#65a1b9">@Model.Total().ToString("c")</span></strong></a></li>
