@model kitapderyasiFinal.Models.Cart


<a href="/Cart/Index" style="color: #65a1b9"><span class="icon-shopping-cart"></span> [@Model.CartLines.Count] Adet
    <span class="badge badge-warning" style="background-color: #65a1b9">@Model.Total().ToString("c")</span></a>
