<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>kitapderyasi</title>
    <!-- Favicon -->
    <link href="~/Content/image/kitapderyasiicon.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap styles -->
    <link href="/website/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Customize styles -->
    <link href="/website/style.css" rel="stylesheet" />
    <!-- font awesome styles -->
    <link href="/website/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!--[if IE 7]>
        <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body style="background-color: whitesmoke">
    <!--
        Upper Header Section
    -->
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="topNav">
            <div class="container">
                <div class="alignR">
               @Html.Action("Summary1","Cart")
                </div>
            </div>
        </div>
    </div>

    <!--
    Lower Header Section
    -->
    <div class="container" style="min-width:1280px;margin:0;padding:0;margin-left:70px">
        <div id="gototop"> </div>
        <header id="header">
        
        </header>

        <!--
        Navigation Bar Section
        -->
        <div class="navbar"  >
            <div class="navbar-inner" style="height:60px">
                <div class="container" >
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse" style="height:60px" >
                        <a href="/Home/Index" class="nav"><img src="~/Content/image/kitapderyasilogo.jpg" alt="kitapderyasi logo" style="max-height:60px" /></a>
                        <div style="margin-left:170px">
                            @Html.Partial("Arama")
                            @Html.Partial("LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        Body Section
        -->
            @RenderBody()
       
        <!--
        Clients
        -->
        
        <!--
        Footer
        -->
        <footer class="footer" style="background-color: whitesmoke; margin-bottom: 20px">
            <div class="row-fluid">
                <div class="span2"  style="margin-left:80px">
                    <div class="col-lg-2 md-md-3">
                        <a href="/Home/Index">
                            <img src="~/Content/image/kitapderyasilogo.jpg" style="max-height:300px;margin-top:40px" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="span2 " style="margin-left:130px;">
                    <h3 style="color:  #65a1b9;">İletişim Bilgileri</h3>
                    <p style="  color: #65a1b9;"><i class="fa fa-envelope"></i>Çiçek Sokak no:5 / Üsküdar/ İstanbul  Türkiye</p>
                    <p style="  color: #65a1b9;"><i class="fa fa-envelope"></i> satis@kitapderyasi.com</p>
                    <p style=" color: #65a1b9;"><i class="fa fa-phone"></i> +90-216-345-0695</p>
                </div>
                <div class="span2" style=" margin-left: 150px">
                    <h3 style="color: #65a1b9"> Hızlı Erişim</h3>
                   
                       
                        <p><a href="/Account/Login" style="color: #65a1b9; font-size: 14px">Üye Girişi</a></p>
                        <p><a href="/Account/Register" style="color: #65a1b9; font-size: 14px">Üye Ol</a></p>
                        
                    </div>
                   
                </div>
</footer>
    </div><!-- /container -->

  
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/website/assets/js/jquery.js"></script>
    <script src="/website/assets/js/bootstrap.min.js"></script>
    <script src="/website/assets/js/jquery.easing-1.3.min.js"></script>
    <script src="/website/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/website/assets/js/shop.js"></script>
</body>
</html>